<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div style="margin-left: 30px; " class="card">
    <div class="container-fluid p-3">
        <div class="row card card-body m-3">
            <div class="col-8" style="background-color: white;">
                <h1>Assessment Survey</h1>
                <h2 class="mt-2">{{ data?.formData?.org_name }}</h2>
            </div>   
        </div>
        <div class="row card card-body m-3">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-secondary" (click)="toggleInviteT()">Invite Team</button>
                </div>           
                <div class="col-6" style="text-align: right;">
                </div>
            </div>
        </div>          
        <div class="row p-3">
            <div class="col-3">
                <div class="card card-body">
                    <h2>Main Menu</h2>
                    <sql-menu (menuClick)="processClick($event);" [active]="section_code">
                        <li #row id="GENERAL-10">General Description</li>
                        <li #row id="POPULATION-20">Student Population</li>
                        <li #row id="TRANSPORTATION-30">Student Transportation</li>
                        <li #row id="PERIMETER-40">Perimeter Security</li>
                        <li #row id="APPROACH-50">Approach and Parking</li>
                        <li #row id="OUTDOOR-60">Outdoor Areas</li>
                        <li #row id="ENVELOPE-70">Building Envelope</li>
                        <li #row id="ENTRYCONTROL-80">Entry Controls</li>
                        <li #row id="SRP-90">Security / Response Planning</li>                        
                        <li #row id="RESPONSE-100">Emergency Response</li>
                        <li #row id="STAFFING-110">Security Force & Staffing</li>
                        <li #row id="INCIDENTS-120">Incident History</li>
                        <li #row id="THREAT-130">Likely Threats</li>
                        <li #row id="ESS-140">Electronic Security Systems</li>
                        <li #row id="CYBER-150">Cyber Security</li>
                    </sql-menu>
                </div>
            </div>
    
            <div class="col-sm-9">
                <!-- UPLOADNG -->
                <div *ngIf="uploading=='Y'" class="card p-3">
                    <app-smart-upload [workspace_id]="data?.formData?.id" document_id="'0'" (cancel)="closeUpload()"></app-smart-upload>
                </div>
                <!-- ADDING -->
                <div *ngIf="adding=='Y'" class="card p-3">
                    <app-add-document-form (cancel)="toggleAdd()" [workspace_id]="data?.formData?.id" [user_id]="uid"></app-add-document-form>
                </div>   
                <div *ngIf="inviting=='Y'" class="card p-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Invite Team Member</h2>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" style="color: black" class="form-label">Email address</label>
                                <input [(ngModel)]="formData.email" type="email" class="form-control" id="exampleFormControlInput1">
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlInput1" style="color: black" class="form-label">Full Name</label>
                                <input [(ngModel)]="formData.full_name" type="text" class="form-control" id="exampleFormControlInput1">
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" style="color: black" class="form-label">Custom Message</label>
                                <textarea [(ngModel)]="formData.custom_msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" style="color: black" class="form-label">Default Role</label>
                                <select [(ngModel)]="formData.default_role" class="form-select" aria-label="Default select example">
                                    <option selected>-- Select --</option>
                                    <option value="0">Read Only</option>
                                    <option value="2">Read Write</option>
                                    <option value="3">Full Control</option>
                                    <option value="5">Upload Only</option>
                                    <option value="7">Administrator</option>
                                  </select>
                             </div>
                             <div class="mb-3">
                                    <button (click)="sendInviteT()" class="btn btn-primary">Send Invitation</button>
                                    <button style="margin-left: 16px;" (click)="toggleInviteT()" class="btn btn-light">Cancel</button>
                             </div>
                        </div>
                    </div>
                </div>         
                    <app-general-description [org_id]="org_id" *ngIf="this.general=='Y'"></app-general-description>
                    <app-student-population [org_id]="org_id" *ngIf="this.population=='Y'" ></app-student-population>
                    <app-student-transportation [org_id]="org_id" *ngIf="this.transportation=='Y'"></app-student-transportation>
                    <app-perimeter-security [org_id]="org_id" *ngIf="this.perimeter=='Y'"></app-perimeter-security>      
                    <app-approach-parking  [org_id]="org_id" *ngIf="this.approach=='Y'"></app-approach-parking>             
                    <app-outdoor-areas [org_id]="org_id" *ngIf="this.outdoor=='Y'"></app-outdoor-areas>      
                    <app-building-envelope [org_id]="org_id" *ngIf="this.envelope=='Y'"></app-building-envelope> 
                    <app-entry-controls  [org_id]="org_id" *ngIf="this.entrycontrol=='Y'"></app-entry-controls>             
                    <app-security-response-planing [org_id]="org_id" *ngIf="this.srp=='Y'" ></app-security-response-planing>
                    <app-emergency-response [org_id]="org_id" *ngIf="this.response=='Y'"></app-emergency-response>
                    <app-security-force-staffing [org_id]="org_id" *ngIf="this.staffing=='Y'"></app-security-force-staffing>
                    <app-incident-history [org_id]="org_id" *ngIf="this.incidents=='Y'" ></app-incident-history>             
                    <app-likely-threats [org_id]="org_id" *ngIf="this.threat=='Y'" ></app-likely-threats>
                    <app-electronic-security-systems [org_id]="org_id" *ngIf="this.ess=='Y'"></app-electronic-security-systems>
                    <app-cyber-security [org_id]="org_id" *ngIf="this.cyber=='Y'"></app-cyber-security>            
                </div>
            </div>   
    </div>
    </div>    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
            <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>
    </div>
    