<div class="row">
    <div class="col-lg-4 col-xl-3 col-xxl-2">
      <app-sitebar-wrapper></app-sitebar-wrapper>       
    </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div style="margin-left: 30px; " class="card">
    <div class="container-fluid p-3">
        <div class="row card card-body m-3">
            <div class="col-8" style="background-color: white;">
                <h1>Assessment Survey</h1>
                <h2 class="mt-2">{{ data?.formData?.workspace_name }}</h2>
            </div>   
        </div>
        <div class="row card card-body m-3">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-secondary" (click)="toggleInviteT()">Invite Team</button>
                </div>           
                <div class="col-6" style="text-align: right;">
                </div>
            </div>
        </div>          
        <div class="row p-3">
            <div class="col-3">
                <div class="card card-body">
                    <h2>Main Menu</h2>
                    <sql-menu (menuClick)="processClick($event);" [active]="'GENERAL'">
                        <li #row id="GENERAL-10">General Description</li>
                        <li #row id="POPULATION-20">Student Population</li>
                        <li #row id="TRANSPORTATION-30">Student Transportation</li>
                        <li #row id="PERIMETER-40">Perimeter Security</li>
                        <li #row id="APPROACH-50">Approach and Parking</li>
                        <li #row id="OUTDOOR-60">Outdoor Areas</li>
                        <li #row id="ENVELOPE-70">Building Envelope</li>
                        <li #row id="ENTRYCONTROL-80">Entry Controls</li>
                        <li #row id="SRP-90">Security / Response Planning</li>
                        <li #row id="RESPONSE-100">Emergency Response</li>
                        <li #row id="STAFFING-110">Security Force & Staffing</li>
                        <li #row id="INCIDENTS-120">Incident History</li>
                        <li #row id="THREAT-130">Likely Threats</li>
                        <li #row id="ESS-140">Electronic Security Systems</li>
                        <li #row id="CYBER-150">Cyber Security</li>
                        <li #row id="UTILITIES-160">Utility Dependencies</li>
                    </sql-menu>
                </div>
            </div>
    
            <div class="col-sm-9">
                <!-- UPLOADNG -->
                <div *ngIf="uploading=='Y'" class="card p-3">
                    <app-smart-upload [workspace_id]="data?.formData?.id" document_id="'0'" (cancel)="closeUpload()"></app-smart-upload>
                </div>
                <!-- ADDING -->
                <div *ngIf="adding=='Y'" class="card p-3">
                    <app-add-document-form (cancel)="toggleAdd()" [workspace_id]="data?.formData?.id" [user_id]="uid"></app-add-document-form>
                </div>   
                <div *ngIf="inviting=='Y'" class="card p-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Invite Team Member</h2>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" style="color: black" class="form-label">Email address</label>
                                <input [(ngModel)]="formData.email" type="email" class="form-control" id="exampleFormControlInput1">
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlInput1" style="color: black" class="form-label">Full Name</label>
                                <input [(ngModel)]="formData.full_name" type="text" class="form-control" id="exampleFormControlInput1">
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" style="color: black" class="form-label">Custom Message</label>
                                <textarea [(ngModel)]="formData.custom_msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" style="color: black" class="form-label">Default Role</label>
                                <select [(ngModel)]="formData.default_role" class="form-select" aria-label="Default select example">
                                    <option selected>-- Select --</option>
                                    <option value="0">Read Only</option>
                                    <option value="2">Read Write</option>
                                    <option value="3">Full Control</option>
                                    <option value="5">Upload Only</option>
                                    <option value="7">Administrator</option>
                                  </select>
                             </div>
                             <div class="mb-3">
                                    <button (click)="sendInviteT()" class="btn btn-primary">Send Invitation</button>
                                    <button style="margin-left: 20px;" (click)="toggleInviteT()" class="btn btn-light">Cancel</button>
                             </div>
                        </div>
                    </div>
                </div>         
                <div *ngIf="this.general=='Y'" class="card p-3">
                    <div class="row">
                        <div class="col-11">
                            <h2>General Facility Description</h2>
                            <div class="card card-body mt-2">
                            <div class="mb-3" style="color: black">
                                <label style="color: black" for="exampleFormControlInput1" class="form-label">School Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                              </div>
                              <div class="mb-3">
                                <label style="color: black" for="exampleFormControlInput1" class="form-label">Physical Address</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                              </div>
                              <div class="mb-3">
                                <label style="color: black" for="exampleFormControlInput1" class="form-label">Mailing Address</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                              </div>
                              <div class="row">
                                <div class="col-3">
                                        <label style="color: black" for="exampleFormControlInput1" class="form-label">City</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="col-3">
                                    <label style="color: black" for="exampleFormControlInput1" class="form-label">State</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="col-3">
                                <label style="color: black" for="exampleFormControlInput1" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>                              
                    </div>
                        <!-- A1 -->
                        <div class="card card-body mt-2">
                                <app-section-panel [survey_id]="'10'" [section_id]="'10'"></app-section-panel>
<!--                        <div class="row" style="margin-top:20px;">
                            <div class="col-7">
                                    <span style="font-size:20px;">Is the facility on a campus with other organzations or schools?</span>
                            </div>
                            <div class="col-5">
                                <select [(ngModel)]="a1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>-- select --</option>
                                    <option value="N">No</option>
                                    <option value="Y">Yes</option>
                                  </select>
                            </div>
                        </div>
                        <hr>
                        <div *ngIf="a1=='Y'" class="row" style="margin-top:20px;">
                            <div class="col-1">

                            </div>
                            <div class="col-6">
                                    <span style="font-size:20px;">Are the other organizations part of the same district?</span>
                            </div>
                            <div class="col-5">
                                <select [(ngModel)]="a2" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>-- select --</option>
                                    <option value="N">No</option>
                                    <option value="Y">Yes</option>
                                  </select>
                            </div>
                        </div>
                        <div *ngIf="a1=='Y'" class="row" style="margin-top:20px;">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-6">
                                    <span style="font-size:20px;">Please describe the organizations sharing your campus: </span>
                            </div>
                            <div class="col-5">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-7">
                                    <span style="font-size:20px;">Are there visible signs of social unrest near the facility?</span>
                            </div>
                            <div class="col-5">
                                <select [(ngModel)]="a3" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>-- select --</option>
                                    <option value="N">No</option>
                                    <option value="Y">Yes</option>
                                    <option value="H">[Help me Answer]</option>
                                  </select>
                            </div>
                        </div>
                    <div *ngIf="a3=='Y'" [(ngModel)]="a3" class="row" style="margin-top:20px;">
                        <div class="col-1">
                            
                        </div>
                        <div class="col-6">
                                <span style="font-size:20px;">Please describe: </span>
                        </div>
                        <div class="col-5">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                    <hr>
                <div class="row" style="margin-top:20px;">
                    <div class="col-7">
                            <span style="font-size:20px;">Is there evidence that prostitution occurs around the school?</span>
                    </div>
                    <div class="col-5">
                        <select [(ngModel)]="a4" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>-- select --</option>
                            <option value="N">No</option>
                            <option value="Y">Yes</option>
                            <option value="H">[Help me Answer]</option>
                          </select>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top:20px;">
                    <div class="col-7">
                            <span style="font-size:20px;">Do visible signs of drug paraphernalia exist in or near the school?</span>
                    </div>
                    <div class="col-5">
                        <select [(ngModel)]="a5" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>-- select --</option>
                            <option value="N">No</option>
                            <option value="Y">Yes</option>
                            <option value="H">[Help me Answer]</option>
                          </select>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top:20px;">
                    <div class="col-7">
                            <span style="font-size:20px;">Is there a gaming or gambling facility located adjacent or nearby to the school?</span>
                    </div>
                    <div class="col-5">
                        <select [(ngModel)]="a6" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>-- select --</option>
                            <option value="N">No</option>
                            <option value="Y">Yes</option>
                            <option value="H">[Help me Answer]</option>
                          </select>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top:20px;">
                    <div class="col-7">
                            <span style="font-size:20px;">Is there visible graffiti on or near the school?</span>
                    </div>
                    <div class="col-5">
                        <select [(ngModel)]="a7" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>-- select --</option>
                            <option value="N">No</option>
                            <option value="Y">Yes</option>
                            <option value="H">[Help me Answer]</option>
                          </select>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top:20px;">
                    <div class="col-7">
                            <span style="font-size:20px;">Do high levels of gang or organized crime activity exist in the surrounding area?</span>
                    </div>
                    <div class="col-5">
                        <select [(ngModel)]="a8" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>-- select --</option>
                            <option value="N">No</option>
                            <option value="Y">Yes</option>
                            <option value="H">[Help me Answer]</option>
                          </select>
                    </div>
                </div>
            <hr>
            <div class="row" style="margin-top:20px;">
                <div class="col-7">
                        <span style="font-size:20px;">Is the school adjacent to public thoroughfares (i.e., publicly accessible right of way, such as a sidewalk, public park, or path)?</span>
                </div>
                <div class="col-5">
                    <select [(ngModel)]="a9" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>-- select --</option>
                        <option value="N">No</option>
                        <option value="Y">Yes</option>
                        <option value="H">[Help me Answer]</option>
                      </select>
                </div>
            </div>
            </div>
            </div> -->


                    </div>
                    </div>
                    </div>
                    </div>
                    <div *ngIf="this.population=='Y'" class="card p-3">
                        <div class="row">
                            <div class="col-11">
                                <h2>Student Population</h2>
                                <div class="card card-body mt-2">
                                <div class="mb-3" style="color: black">
                                    <label style="color: black" for="exampleFormControlInput1" class="form-label">Number of Students</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                                  <div class="mb-3">
                                    <label style="color: black" for="exampleFormControlInput1" class="form-label">Number of Teachers</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                                  <div class="mb-3">
                                    <label style="color: black" for="exampleFormControlInput1" class="form-label">Number of Admin Staff</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                                  <div class="mb-3">
                                    <label style="color: black" for="exampleFormControlInput1" class="form-label">Number of Other Staff</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>                            
                        </div>
                        </div>
                        </div>
                        </div>
                        <div *ngIf="this.transportation=='Y'" class="card p-3">
                            <div class="row">
                                <div class="col-11">
                                    <h2>Student Transportation</h2>
                            <div class="card card-body mt-2">
                                <app-section-panel [survey_id]="'10'" [section_id]="'30'"></app-section-panel>
       <!--                     
                            <div class="row" style="margin-top:20px;">
                                <div class="col-7">
                                        <span style="font-size:20px;">What modes of transportation are used to transport students to school?</span>
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          School Bus
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-7">
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input [(ngModel)]="b2" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Parent Dropoff
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b2" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    Check all that apply to parent dropoff:
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Students are dropped off outside campus
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b2" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          There is a single droppoff area for students
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b2" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          There are multiple droppoff areas for students
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b2" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Dropoff vehicles must be registered with the school
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b2" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          All dropoffs are supervised by school staff
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-7">
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input [(ngModel)]="b1" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Self Driven
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b1" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    Check all that apply to student parking:
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          There is dedicated parking for students
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b1" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Students share parking with facility
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b1" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Students share parking with visitors
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b1" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Students park nearby and walk to campus
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div *ngIf="b1" class="row" style="margin-top:20px;">
                                <div class="col-1">

                                </div>
                                <div class="col-5" style="font-size: 20px;" >
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Parking Permits are Required
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-7">
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Walking / Bicycle
                                        </label>
                                      </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-7">
                                    
                                </div>
                                <div class="col-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label style="font-size: 20px;" class="form-check-label" for="flexCheckDefault">
                                          Public Trasportation
                                        </label>
                                      </div>
                                </div>
                            </div> -->
                </div>
                </div>
                </div>
                </div>
                <div *ngIf="this.perimeter=='Y'" class="card p-3" style="height: 500px">
                    <div class="row">
                        <div class="col-9">
                            <h2>Perimeter Security</h2>
                        </div>
                        <app-section-panel [survey_id]="'10'" [section_id]="'40'"></app-section-panel>
                    </div>
                </div>                
                <div *ngIf="this.approach=='Y'" class="card p-3" style="height: 500px">
                    <div class="row">
                        <div class="col-9">
                            <h2>Approach and Parking</h2>
                        </div>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'50'"></app-section-panel>
                </div>                
                <div *ngIf="this.outdoor=='Y'" class="card p-3" style="height: 500px">
                    <div class="row">
                        <div class="col-9">
                            <h2>Outdoor Areas</h2>
                        </div>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'60'"></app-section-panel>
                </div>                

            <div *ngIf="this.envelope=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Building Envelope</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'70'"></app-section-panel>
                </div>
            </div>   
            <div *ngIf="this.entrycontrol=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Entry Controls</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'80'"></app-section-panel>
                </div>
            </div>                
            <div *ngIf="this.srp=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Security / Response Planning</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'90'"></app-section-panel>
                </div>
            </div>   
            <div *ngIf="this.response=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Emergency Response</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'100'"></app-section-panel>
                </div>
            </div>   
            <div *ngIf="this.staffing=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Security Force Staffing</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'110'"></app-section-panel>
                </div>
            </div>  
            <div *ngIf="this.incidents=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Incident History</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'120'"></app-section-panel>
                </div>
            </div>               
            <div *ngIf="this.threat=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Likely Threats</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'130'"></app-section-panel>
                </div>
            </div>   
            <div *ngIf="this.ess=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Electronic Security Systems</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'140'"></app-section-panel>
                </div>
            </div>               
            <div *ngIf="this.cyber=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Cyber Security</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'150'"></app-section-panel>
                </div>
            </div>   
            <div *ngIf="this.utilities=='Y'" class="card p-3" style="height: 500px">
                <div class="row">
                    <div class="col-9">
                        <h2>Utility Dependencies</h2>
                    </div>
                    <app-section-panel [survey_id]="'10'" [section_id]="'160'"></app-section-panel>
                </div>
            </div>               
            </div>
        </div>   
    </div>
    </div>    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
            <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>
    </div>
    