<div class="card p-3">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="assets/likelythreats_v.jpg" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Likely Threats</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>       
        </div>
    </div>
    <div class="row">
      <div class="col-12 p-2" style="background-color: lightgray;">
            <button (click)="togglePhotos()" class="btn btn-primary">Photos</button>
            <button (click)="toggleDocuments()" style="margin-left: 20px;" class="btn btn-primary">Documents</button>
            <button (click)="toggleComments()" style="margin-left: 20px;" class="btn btn-primary">Comments</button>            
            <button (click)="toggleSaa()" style="margin-left: 20px;" class="btn btn-primary">Critical Areas</button>   
      </div>
  </div>
    <app-section-comments *ngIf="show_comments=='Y'" [survey_id]="org_id" [section_id]="'130'" (close)="closeAll()"></app-section-comments>
    <app-section-documents *ngIf="show_documents=='Y'" [survey_id]="org_id" [section_id]="'130'" (close)="closeAll()"></app-section-documents>
    <app-section-photos *ngIf="show_photos=='Y'" [survey_id]="org_id" [section_id]="'130'" (close)="closeAll()"></app-section-photos>
    <app-section-saa *ngIf="show_saa=='Y'" [survey_id]="org_id" [section_id]="'130'" (close)="closeAll()"></app-section-saa>
    <app-section-panel [survey_id]="org_id" [section_id]="'130'"></app-section-panel>
</div>