<div class="row">
  <div class="col-lg-4 col-xl-3 col-xxl-2">
    <app-sitebar-wrapper></app-sitebar-wrapper>       
  </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div class="content-wrappe">
    <div class="row">
      <div class="card">
          <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h1>PSA - Self Assessment</h1>
                </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <a [routerLink]="['/getting-started']"><div  class="card">
                        <img src="assets/one.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Getting Started - Overview</h2>
                        </div>
                      </div></a>
                </div>   
                <div class="col-3">
                  <a [routerLink]="['/survey','0','10']"><div class="card">
                      <img src="assets/generaldescription.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h2>General Description</h2>
                      </div>
                    </div></a>
              </div>                                    
            <div class="col-3">
              <a [routerLink]="['/survey','0','30']"><div class="card">
                  <img src="assets/studenttransportation.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2>Student Transportation</h2>
                  </div>
                </div></a>
          </div>
          <div class="col-3">
            <a [routerLink]="['/survey','0','90']"><div class="card">
                <img src="assets/securityresponseplanning.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>Security Response Planning</h2>
                </div>
              </div></a>
        </div>    
        <div class="col-3">
          <a [routerLink]="['/survey','0','40']"><div class="card">
              <img src="assets/perimetersecurity.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2>Perimeter Security</h2>
              </div>
            </div></a>
      </div>       
    <div class="col-3">
      <a [routerLink]="['/survey','0','60']"><div class="card">
          <img src="assets/outdoorareas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2>Outdoor Areas</h2>
          </div>
        </div></a>
  </div>    
  <div class="col-3">
    <a [routerLink]="['/survey','0','70']"><div class="card">
        <img src="assets/buildingenvelope.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>Building Envelope</h2>
        </div>
      </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','80']"><div class="card">
      <img src="assets/entrycontrols.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Entry Controls</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','100']"><div class="card">
      <img src="assets/emergencyresponse.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Emergency Reponse</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','110']"><div class="card">
      <img src="assets/securityforceandstaffing.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Security Force</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','120']"><div class="card">
      <img src="assets/incidenthistory.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Incident History</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','130']"><div class="card">
      <img src="assets/likelythreats.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Likely Threats</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','140']"><div class="card">
      <img src="assets/electronicsecuritysystems.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Electronic Security Systems</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','150']"><div class="card">
      <img src="assets/cybersecurity.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Cyber Security</h2>
      </div>
    </div></a>
</div>   
<div class="col-3">
  <a [routerLink]="['/documents']"><div class="card">
      <img src="assets/documents.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Documents</h2>
      </div>
    </div></a>
</div>
<div class="col-3">
  <a [routerLink]="['/team']"><div class="card">
      <img src="assets/workgroup.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Team</h2>
      </div>
    </div></a>
</div>         
<div class="col-3">
  <a [routerLink]="['/reports']"><div class="card">
      <img src="assets/reports.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Results</h2>
      </div>
    </div></a>
</div>  
            </div>
          </div>  
        </div>
    </div>
</div>
</div>
</div>